/*
 * Ducksms
 *
 * The version of the OpenAPI document: 1.0.0
 * Contact: support@ducksms.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package com.ducksms.client.api;

import com.ducksms.client.ApiCallback;
import com.ducksms.client.ApiClient;
import com.ducksms.client.ApiException;
import com.ducksms.client.ApiResponse;
import com.ducksms.client.Configuration;
import com.ducksms.client.Pair;
import com.ducksms.client.ProgressRequestBody;
import com.ducksms.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.ducksms.client.model.CancelSmsSchedule;
import com.ducksms.client.model.ErrorException;
import com.ducksms.client.model.ErrorInvalidRequest;
import com.ducksms.client.model.ErrorNotFound;
import com.ducksms.client.model.ErrorUnauthenticated;
import com.ducksms.client.model.ListSmsSchedule;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SmsScheduleApi {
    private ApiClient localVarApiClient;

    public SmsScheduleApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SmsScheduleApi(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return localVarApiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.localVarApiClient = apiClient;
    }

    /**
     * Build call for cancelSmsSchedule
     * @param id  (required)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Cancel existing sms schedule </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthenticated </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No data found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Server error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call cancelSmsScheduleCall(String id, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/sms/scheduled/{id}"
            .replaceAll("\\{" + "id" + "\\}", localVarApiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BearerToken" };
        return localVarApiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call cancelSmsScheduleValidateBeforeCall(String id, final ApiCallback _callback) throws ApiException {
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling cancelSmsSchedule(Async)");
        }
        

        okhttp3.Call localVarCall = cancelSmsScheduleCall(id, _callback);
        return localVarCall;

    }

    /**
     * Cancel Sms Schedule
     * Cancel existing sms schedule
     * @param id  (required)
     * @return CancelSmsSchedule
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Cancel existing sms schedule </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthenticated </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No data found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Server error </td><td>  -  </td></tr>
     </table>
     */
    public CancelSmsSchedule cancelSmsSchedule(String id) throws ApiException {
        ApiResponse<CancelSmsSchedule> localVarResp = cancelSmsScheduleWithHttpInfo(id);
        return localVarResp.getData();
    }

    /**
     * Cancel Sms Schedule
     * Cancel existing sms schedule
     * @param id  (required)
     * @return ApiResponse&lt;CancelSmsSchedule&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Cancel existing sms schedule </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthenticated </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No data found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Server error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<CancelSmsSchedule> cancelSmsScheduleWithHttpInfo(String id) throws ApiException {
        okhttp3.Call localVarCall = cancelSmsScheduleValidateBeforeCall(id, null);
        Type localVarReturnType = new TypeToken<CancelSmsSchedule>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * Cancel Sms Schedule (asynchronously)
     * Cancel existing sms schedule
     * @param id  (required)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> Cancel existing sms schedule </td><td>  -  </td></tr>
        <tr><td> 400 </td><td> Invalid request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthenticated </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No data found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Server error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call cancelSmsScheduleAsync(String id, final ApiCallback<CancelSmsSchedule> _callback) throws ApiException {

        okhttp3.Call localVarCall = cancelSmsScheduleValidateBeforeCall(id, _callback);
        Type localVarReturnType = new TypeToken<CancelSmsSchedule>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
    /**
     * Build call for listSmsSchedule
     * @param page Page number (optional)
     * @param filterSenderName Filter by sender id name (optional)
     * @param filterType Filter by sms type (optional)
     * @param filterMessageType Filter by sms message type (optional)
     * @param filterStatus Filter by sms status (optional)
     * @param _callback Callback for upload/download progress
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List all the sms schedule </td><td>  * X-Pagination-Count - Total data count <br>  * X-Pagination-Page - Pagination page number <br>  * X-Pagination-Limit - Pagination limit per page <br>  </td></tr>
        <tr><td> 400 </td><td> Invalid request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthenticated </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No data found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Server error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listSmsScheduleCall(Integer page, String filterSenderName, String filterType, String filterMessageType, String filterStatus, final ApiCallback _callback) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/api/v1/sms/scheduled";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (page != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("page", page));
        }

        if (filterSenderName != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("filter[sender_name]", filterSenderName));
        }

        if (filterType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("filter[type]", filterType));
        }

        if (filterMessageType != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("filter[message_type]", filterMessageType));
        }

        if (filterStatus != null) {
            localVarQueryParams.addAll(localVarApiClient.parameterToPair("filter[status]", filterStatus));
        }

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        Map<String, String> localVarCookieParams = new HashMap<String, String>();
        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = localVarApiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) {
            localVarHeaderParams.put("Accept", localVarAccept);
        }

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = localVarApiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        String[] localVarAuthNames = new String[] { "BearerToken" };
        return localVarApiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarCookieParams, localVarFormParams, localVarAuthNames, _callback);
    }

    @SuppressWarnings("rawtypes")
    private okhttp3.Call listSmsScheduleValidateBeforeCall(Integer page, String filterSenderName, String filterType, String filterMessageType, String filterStatus, final ApiCallback _callback) throws ApiException {
        

        okhttp3.Call localVarCall = listSmsScheduleCall(page, filterSenderName, filterType, filterMessageType, filterStatus, _callback);
        return localVarCall;

    }

    /**
     * List Sms Schedule
     * List all the sms schedule
     * @param page Page number (optional)
     * @param filterSenderName Filter by sender id name (optional)
     * @param filterType Filter by sms type (optional)
     * @param filterMessageType Filter by sms message type (optional)
     * @param filterStatus Filter by sms status (optional)
     * @return ListSmsSchedule
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List all the sms schedule </td><td>  * X-Pagination-Count - Total data count <br>  * X-Pagination-Page - Pagination page number <br>  * X-Pagination-Limit - Pagination limit per page <br>  </td></tr>
        <tr><td> 400 </td><td> Invalid request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthenticated </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No data found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Server error </td><td>  -  </td></tr>
     </table>
     */
    public ListSmsSchedule listSmsSchedule(Integer page, String filterSenderName, String filterType, String filterMessageType, String filterStatus) throws ApiException {
        ApiResponse<ListSmsSchedule> localVarResp = listSmsScheduleWithHttpInfo(page, filterSenderName, filterType, filterMessageType, filterStatus);
        return localVarResp.getData();
    }

    /**
     * List Sms Schedule
     * List all the sms schedule
     * @param page Page number (optional)
     * @param filterSenderName Filter by sender id name (optional)
     * @param filterType Filter by sms type (optional)
     * @param filterMessageType Filter by sms message type (optional)
     * @param filterStatus Filter by sms status (optional)
     * @return ApiResponse&lt;ListSmsSchedule&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List all the sms schedule </td><td>  * X-Pagination-Count - Total data count <br>  * X-Pagination-Page - Pagination page number <br>  * X-Pagination-Limit - Pagination limit per page <br>  </td></tr>
        <tr><td> 400 </td><td> Invalid request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthenticated </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No data found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Server error </td><td>  -  </td></tr>
     </table>
     */
    public ApiResponse<ListSmsSchedule> listSmsScheduleWithHttpInfo(Integer page, String filterSenderName, String filterType, String filterMessageType, String filterStatus) throws ApiException {
        okhttp3.Call localVarCall = listSmsScheduleValidateBeforeCall(page, filterSenderName, filterType, filterMessageType, filterStatus, null);
        Type localVarReturnType = new TypeToken<ListSmsSchedule>(){}.getType();
        return localVarApiClient.execute(localVarCall, localVarReturnType);
    }

    /**
     * List Sms Schedule (asynchronously)
     * List all the sms schedule
     * @param page Page number (optional)
     * @param filterSenderName Filter by sender id name (optional)
     * @param filterType Filter by sms type (optional)
     * @param filterMessageType Filter by sms message type (optional)
     * @param filterStatus Filter by sms status (optional)
     * @param _callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     * @http.response.details
     <table summary="Response Details" border="1">
        <tr><td> Status Code </td><td> Description </td><td> Response Headers </td></tr>
        <tr><td> 200 </td><td> List all the sms schedule </td><td>  * X-Pagination-Count - Total data count <br>  * X-Pagination-Page - Pagination page number <br>  * X-Pagination-Limit - Pagination limit per page <br>  </td></tr>
        <tr><td> 400 </td><td> Invalid request </td><td>  -  </td></tr>
        <tr><td> 401 </td><td> Unauthenticated </td><td>  -  </td></tr>
        <tr><td> 404 </td><td> No data found </td><td>  -  </td></tr>
        <tr><td> 500 </td><td> Server error </td><td>  -  </td></tr>
     </table>
     */
    public okhttp3.Call listSmsScheduleAsync(Integer page, String filterSenderName, String filterType, String filterMessageType, String filterStatus, final ApiCallback<ListSmsSchedule> _callback) throws ApiException {

        okhttp3.Call localVarCall = listSmsScheduleValidateBeforeCall(page, filterSenderName, filterType, filterMessageType, filterStatus, _callback);
        Type localVarReturnType = new TypeToken<ListSmsSchedule>(){}.getType();
        localVarApiClient.executeAsync(localVarCall, localVarReturnType, _callback);
        return localVarCall;
    }
}
